<!--Adds tasks to a list and displays all tasks-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>x5</title>
</head>
<body>
<div id="app">
    <input v-model="newTask" placeholder="Add task">
    <button @click="addTask">Add</button>
    
    <ul>
        <li v-for="task in tasks">{{ task }}</li>
    </ul>
</div>
<script>
    Vue.createApp({
        data() {
            return {
                newTask : '',
                tasks: []
            }
        },
        methods: {
            addTask() { 
                if (this.newTask.trim()) { // .trim() to remove potential leading/trailing whitespaces
                    this.tasks.push(this.newTask); // this.tasks tells JS to locate tasks inside data() instead of local scope
                    this.newTask = ''; // v-model/two-way bind clears input text field
                }
            }
        }
    }).mount('#app');
    
</script>
</body>
</html>
